/* line 21, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.content-panel, .pn {
  min-width: 190px;
  padding-bottom: 0px;
  box-shadow: none;
}
/* line 25, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.content-panel img, .pn img {
  max-width: 100%;
}

/* line 30, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
#event {
  background-attachment: relative;
  background-position: center center;
  min-height: 200px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
}
/* line 45, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
#event .name {
  top: 20px;
  position: relative;
  width: 180px;
  padding: 5px 0 5px 10px;
  font-size: 22px;
  line-height: 24px;
  background-color: rgba(20, 20, 0, 0.7);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 54, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
#event .name a {
  color: white;
}
/* line 56, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
#event .name a:hover {
  color: #fafafa;
}

/* line 63, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.details {
  font-size: 14px;
  line-height: 40px;
  padding: 5px;
  float: left;
}
/* line 68, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.details i {
  padding-right: 5px;
}

/* line 72, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.date {
  padding: 5px;
  display: inline-block;
  float: left;
  width: 40px;
  height: 50px;
  background-color: #00b25c;
  text-align: center;
  color: white;
}
/* line 81, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.date .day {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
/* line 86, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.date .month {
  white-space: pre-line;
}

/*===========================
  --- Index Page ----
=========================== */
/* line 161, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event {
  background-color: white;
  height: 120px;
}
/* line 164, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .image {
  display: inline-block;
  max-width: 120px;
  float: left;
}
/* line 169, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .desc {
  display: inline-block;
  float: left;
  height: 120px;
  margin-left: 15px;
  padding: 20px 0;
  width: 55%;
}
/* line 176, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .desc .name {
  font-size: 24px;
  font-weight: 400;
}
/* line 180, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .desc .date {
  font-size: 20px;
  color: #707070;
}
/* line 184, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .desc .location {
  font-size: 16px;
}
/* line 186, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .desc .location a {
  color: #00b25c;
}
/* line 188, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .desc .location a:hover {
  color: #007f42;
}
/* line 194, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .social {
  padding: 43.5px 0;
  height: 120px;
  width: 25%;
  float: left;
}
/* line 199, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .social .like, .event .social .map {
  font-size: 14px;
  display: inline-block;
  width: 45%;
  margin-right: 2.5%;
}
/* line 204, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .social .like a, .event .social .map a {
  font-size: 12px;
}
/* line 208, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event .social .count {
  margin-left: 5px;
}
/* line 212, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event img {
  max-width: 100%;
}

/*===========================
  --- Show Page ----
=========================== */
/* line 221, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
hr {
  margin: 0px;
  border-top: 1px solid #9c9c9c;
}

/* line 227, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event-show-panel h2 {
  font-size: 24px;
  color: #00b25c;
}
/* line 230, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event-show-panel h2 .date {
  float: right;
  background-color: #00b25c;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px;
  margin-top: -4px;
}
/* line 239, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event-show-panel .panel-heading {
  padding: 0 15px;
}
/* line 241, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event-show-panel .panel-heading .label-date {
  border: 2px solid #00b25c;
  color: #00b25c;
  background-color: white;
}
/* line 247, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event-show-panel img {
  max-width: 100%;
}

/*===========================
  --- Sidebar ----
=========================== */
/* line 258, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.event-photo-panel img {
  max-width: 100%;
}

/* line 263, /Users/dwilson/Documents/my_apps/partygps/app/assets/stylesheets/events.css.scss */
.btn-map {
  width: 100%;
  padding: 10px 0;
}
