<div class="row">
  <div class="col-lg-10 col-lg-offset-1 mt">
    <div class="form-panel">
      <div class="white-header">
        <h4>
          <i class="fa fa-user fa-fw"></i>User Profile Page
        </h4>
        <ul>
          <li>Show have recent events</li>
          <li>Events following/attending</li>
          <li>PartyPals(people you party with)</li>
        </ul>
      </div>
  </div>
</div>