.new-event{
	text-align: right;
	padding-top: 10px;
	margin: 10px 0;
}

.content-panel h4{
	margin-left: 0px !important;
}

.visible{
	display: block;
}


.recurring-event{
	line-height: 34px;
}

input[type="checkbox"]{
	width: 100%;
}