.navbar-brand{
	padding: 0px;
	img{
		max-height: 50px;
	}
}

.main-content{
	margin-top: 80px;
}

.alert{
	margin-top: 20px;
}

.left{
	text-align: left;
}

.btn-bordered{
  border: 2px solid $brand;
  color: $brand;
  background-color: $white;
  &:hover{
    color: $white;
    background-color: $brand;
  }
}