// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

@mixin transition-bg-color($time){
  -webkit-transition: background-color $time;
  -moz-transition: background-color $time;
  -o-transition: background-color $time;
  transition: background-color $time;
}

@mixin transition($item, $time, $action){
  -webkit-transition: $item $time $action;
  -moz-transition: $item $time $action;
  -o-transition: $item $time $action;
  -ms-transition: $item $time $action;
  transition: $item $time $action;
}

.event-panel{
  img{
    max-width:100%;
  }
}

.event-container{
  position: relative;
  display: inline-block;
}

.event-info{
  top: 10%;
  // margin-top: -5px;
  width: 100%;
  position: absolute;
  display: block;
  .date{
    
  }
  h2.name{
    font-size: 20px;
    // font-weight: 600;
    display: inline;
    position: relative;
    line-height: 30px;
    padding: 10px;
    background-color: #fff;
  }
}
.details{
  bottom: 0;
  height: 20%;
  padding: 10px;
  display: block;
  position: absolute;
  background-color: #fff;
  width: 100%;
}
/*===========================
  --- Index Page ----
=========================== */
.event{
  background-color:white;
  height: 120px;
  .image{
    display: inline-block;
    max-width: 120px;
    float: left;
  }
  .desc{
    display: inline-block;
    float: left;
    height: 120px;
    margin-left: 15px;
    padding: 20px 0;
    width: 55%;
    .name{
      font-size: 24px;
      font-weight: 400;
    }
    .date{
      font-size: 20px;
      color: $mainGray;
    }
    .location{
      font-size: 16px;
      a{
        color: $mainGreen;
        &:hover{
          color: $darkGreen;
        }
      }
    }
  }
  .social{
    padding: 43.5px 0;
    height: 120px;
    width: 25%;
    float: left;
    .btn-bordered{
      border: 2px solid $mainGreen;
      color: $mainGreen;
      width: 100%;
      &:hover{
        color: white;
        background-color: $mainGreen;
      }
    }
    .like, .map{
      font-size: 14px;
      display: inline-block;
      width: 45%;
      margin-right: 2.5%;
      a{
        font-size: 12px;
      }
    }
    .count{
      margin-left: 5px;
    }
  }
  img{
    max-width: 100%;
  }
}


/*===========================
  --- Show Page ----
=========================== */
hr{
    margin: 0px;
    border-top:1px solid $lightGray;
}

.event-show-panel{
  h2{
    font-size: 24px;
    color: $mainGreen;
    .date{
      float: right;
      background-color: $mainGreen;
      text-transform: uppercase;
      font-size: 14px;
      padding: 8px;
      margin-top: -4px;
    }
  }
  .panel-heading{
    padding: 0 15px;
    .label-date{
      border: 2px solid $mainGreen;
      color: $mainGreen;
      background-color:white;
    }
  }
  img{
    max-width: 100%;
  }
}



/*===========================
  --- Sidebar ----
=========================== */
.event-photo-panel{
  img{
    max-width: 100%;
  }
}

.btn-map{
  width: 100%;
  padding: 10px 0;
}



