// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

@mixin transition-bg-color($time){
  -webkit-transition: background-color $time;
  -moz-transition: background-color $time;
  -o-transition: background-color $time;
  transition: background-color $time;
}

@mixin transition($item, $time, $action){
  -webkit-transition: $item $time $action;
  -moz-transition: $item $time $action;
  -o-transition: $item $time $action;
  -ms-transition: $item $time $action;
  transition: $item $time $action;
}

.content-panel, .pn{
  min-width: 200px;
  padding-bottom: 0px;
  box-shadow: none;
  img{
    max-width:100%;
  }
}

/*===========================
  --- Index Page ----
=========================== */
.event-panel{
  border: 1px solid $brand;
  padding: 10px;
  border-radius: 4px;
  height: 300px;
  img{
    width: 100%;
  }
  .details{
    text-align: center;
    .name{
      margin: 10px 0;
      font-size: 16px;
    }
    .event-date, .event-adm{
      font-style: italic;
      font-size: 12px;
    }
    h5 a{
      color: $alt;
      &:hover{
        color: $darkAlt;
      }
    }
  }
}
.event-nav{
  .nav > li > a{
    padding: 7px 10px;
    background-color: $lightGray;
    border: 1px solid $lightGray;
    color: $darkGray;
    &:hover{
      background-color: transparent;
      border: 1px solid $darkBrand;
      color: $darkBrand;
    }
  }
  .nav > li.active{
    a{
      background-color: $darkBrand;
      border: 1px solid $darkBrand;
      color: $white;
      &:hover{
        background-color: transparent;
        border: 1px solid $darkBrand;
        color: $darkBrand;
      }
    }
  }
  li{
    margin-right: 20px
  }
}

/*===========================
  --- Show Page ----
=========================== */
hr{
    margin: 0px;
    border-top:1px solid $gray;
}

.event-show-panel{
  h2{
    font-size: 24px;
    color: $brand;
    .event-date{
      float: right;
      text-transform: uppercase;
      // background-color: $brand;
      // font-size: 14px;
      // padding: 8px;
      margin-top: -4px;
    }
  }
  .panel-heading{
    padding: 0 15px;
    .label-date{
      border: 2px solid $brand;
      color: $brand;
      background-color:$white;
    }
  }
  img{
    max-width: 100%;
  }
}



/*===========================
  --- Sidebar ----
=========================== */
.event-photo-panel{
  img{
    max-width: 100%;
  }
}

.btn-map{
  width: 100%;
  padding: 10px 0;
}


#event-item{
  img{
    max-width: 100%;
  }
}
