@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "gritter/css/jquery.gritter";
@import "style";
@import "style-responsive";
@import "bootstrap-select.min";
@import "base";

.container{
	max-width: 1179px;
}

@media (max-width: 768px) { 
	.container{
		min-width: 320px;
	}
	.event .social{
		font-size: 12px !important;
	}
	.social{
    	padding: 24.5px 0 !important;
    	.like, .map{
    		width: 20% !important;
    	}
	}
}

/*===========================
--- General Styling ----
=========================== */
.main{
	margin-top: 80px;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.pull-left{
	float: left;
}


#error_explanation{
	color: red;
}


/*===========================
--- Nav Styling ----
=========================== */
.navbar-brand{
	padding: 0px;
	img{
		max-height: 50px;
	}
}

a.logo{
	line-height: 34px;
}

.nav-dropdown{
	left: -40px !important;;
	min-width: 100px;
	text-align: right;
}

.open .dropdown-toggle.btn-logout{
	color: $white;
	background: $alt;
	border: 1px solid $alt;
}

.logout{
	margin-right: 0px !important;
}

.btn-logout, .btn-login{
	color: $white;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 0px solid $brand;
	padding: 8.5px 15px;
	background: $brand;
	margin: 15px 0;
	&:hover, &:active{
		color: $brand;
		background: $white;
		border: 0px solid $white;
	}
}


.search-form{
	display: inline-block;
	width:500px;
	.form-group{
		width: 300px;
	}
	.search-tb{
		border: 0px solid $white;
		height: 34px;
		width: 100%;
	}
}

/*===========================
--- Banner Styling ----
=========================== */
.banner{
	background-position: top center;
	background: url(/assets/banner.jpg) top center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	padding: 0px;
	width: 100%;
	height: 100%;
	max-height: 300px;
	display: block;
	top: 0px;
	.headline{
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}
	a.logo{
		width: 100%;
		padding-top: 15%; 
		font-size: 30px;
	}
	.form-group{
		width: 100%;
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.btn{
		width: auto;
		display: inline-block;
		padding: 10px 16px;
		margin-left: 10px;
	}
	.btn-notify{
		height: 38px;
		color: $gray;
		background-color: $alt;
		&:hover, &:active{
			color: darken($gray, 5%);
			background-color: $darkBrand;
		}
	}
	.form-control{
		background-color: $white;
		border: 1px solid $alt;
		border-radius: 4px;
		box-shadow: none;
		color: #444444;
		height: 38px;
		padding: 6px 16px;
		width: 85%;
		&:hover, &:active{
			color: $gray;
		}
	}
	.transparent {
		background-color: rgba(255, 255, 255, 0.07);
		color: $white;
	}
}


.main-content{
	margin-top: 80px;
}

.alert{
	margin-top: 20px;
}

/*===========================
--- Button Styling ----
=========================== */
.btn-primary, .btn-lg, .btn-map{
	border: 1px solid transparent;
	&:hover{
		border: 1px solid transparent;
	}
}

.btn-default{
	color: $gray;
	&:hover, &:active, &:focus, .dropdown-toggle{
		color: $gray;
		border: 1px solid #ccc;
		background-color: $white;
	}
}


.btn-bordered{
  border: 2px solid $brand;
  color: $brand;
  background-color: $white;
  &:hover{
    color: $white;
    background-color: $brand;
  }
}


/*===========================
--- Event Styling ----
=========================== */
.separator{
	font-style: normal;
	vertical-align: middle;
	font-size: 4px;
	padding: 0 10px;
}

.event-listing-date{
	font-style: italic;
	font-size: 12px;
	margin-top: 10px;
}

.event-listing-adm{
	font-size: 10px;
	margin-top: 10px;
}

/*===========================
--- User Pages ----
=========================== */
h2.form-login-heading a{
	color: $white;
	font-weight: bold;
	&:hover{
		color: $offWhite;
	}
}
#registration, #login{
	background-color: $white;
	margin-top: 30px;
	padding: 20px;
	h2{
		text-transform: uppercase;
	}
	input{
		width: 100%;
	}
	.form-inputs{
		position: relative;
		text-align: left;
		input[type="text"], input[type="password"],
		input[type="email"], select{
			padding: 5px;
			border: 2px solid #ddd;
			margin-bottom: 12.5px;
			width: 100%;
			height: 40px;
		}
		input#user_remember_me{
			width: auto;
			float: left;
			margin-right: 15px;
			margin-bottom: 12.5px;
			height: 21px;
			padding: 0px;
		}
		.remember_label{
			padding-top: 5px;
		}
		label{
			float: left;
		}
		.btn{
			height: 40px;
		}
	}
	.devise-links {
		padding-top: 12.5px;
		text-align: left;
	}
}

.btn-facebook{
	margin-right: 10px;
}

.mar-top15{
	margin-top: 15px
}

.mar-bot15{
	margin-bottom: 15px
}