$orange: #FF4100;
$lightOrange: #ff7140;
$lightestOrange: #FF9773;
$darkOrange: #bf5530;
$mainGreen: #00B25C;
$darkGreen: #218555;
$darkestGreen: #00733C;
$lightGreen: #36D88A;
$lightestGreen: #61D89F;
$mainGray: #707070;
$darkGray: darken($mainGray, 5%);
$lightGray: #efefef;

$brand-primary: $lightOrange;