<% provide(:title, 'Location') %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 mt">
    <div class="form-panel">
      <div class="white-header">
        <h4>
          <i class="fa fa-user fa-fw"></i>Location
        </h4>
      </div>
      <%= render "location_form" %>
    </div>
  </div>
</div>